  <%=link_to "", playlists_path, class: "logo", style: "display:inline-block;"%>
  <div class="headtitle">
  <h4 id="title"> tunesmap </h4>
  </div>
  <div>
  	<!--  -->
  </div>

<div class="content">
<table class="table table-condensed">
	<tr>
		<th>Playlist</th>
	</tr>
	<%@playlists.each do |p|%>
	<tr>
	
		<td><%=link_to p.name, playlist_path(p)%></td>

	</tr>
	<%end%>
	
</table>

</div>


