<h1>Playlists#index</h1>
<p>Find me in app/views/playlists/index.html.erb</p>
<%@playlists.each do |playlist|%>

<h3><%= playlist.name%></h3><br>
	<%playlist.songs.each do |s|%>
	<%=s.title%>-
	<%=s.artist%><br>
	<%s.year%><br>
	<%end%>
<%end%>
