<h1><%=@playlist.name%></h1>
<table class="table table-condensed">
	<tr>
		<th>Title</th>
		<th>Artist</th>

	</tr>
	<%@playlist.songs.each do |s|%>
	<tr>
	
		<td><%=link_to s.title, result_path(s)%></td>
		<td><%=link_to s.artist, result_path(s)%></td>

	</tr>
	<%end%>
	
</table>