  <%=link_to "", playlists_path, class: "logo", style: "display:inline-block;"%>
  <div class="headtitle">
  <h4 id="title"> tunesmap </h4>
  </div>

<div class="content">

<hr style="margin-bottom: 10px; margin-top:-3px;">
<h4 style="text-align:center;"><%=@playlist.name%></h4>

<table class="table table-condensed">


	<tr>
		<th>Title</th>
		<th>Artist</th>

	</tr>
	<%@playlist.songs.each do |s|%>
	<tr>
	
		<td><%=link_to s.title, result_path(s)%></td>
		<td><%=link_to s.artist, result_path(s)%></td>

	</tr>
	<%end%>
	
</table>
</div>